.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

label{
    font-variant: small-caps;
    font-weight: 900 !important;
}

sup{
    font-size: 1.8vw;
    font-variant: small-caps;
    color: red;
    font-weight: 900;
    display: none;
}